/*need to mess with the look of it*/
/*need to change the opacity of the buttons*/

#wrong{
    color: red;
}

#login h3{
font-size:18px;
text-align:center;
text-shadow:1px 0px 3px gray;
}

.form{
border-radius:2px;
padding:20px 30px;
box-shadow:0 0 15px;
font-size:14px;
font-weight:bold;
width:350px;
margin:20px 250px 0 35px;
float:left;
}



#username,#password,#loginbtn,#cancel{
width:100%;
height:35px;
margin-top:5px;
border:1px solid #999;
border-radius:3px;
padding:5px;
}

input[type=button]{
background-color:#222;
border:1px solid white;
font-family: 'Fauna One', serif;
font-Weight:bold;
font-size:18px;
color:white;
width:49%;
}

/*changed position to fixed from absolute*/
#logindiv{
/*opacity:0.92;*/
position: fixed;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
background: #000;
display: none;
}

#login,#contact{
width:350px;
margin:0px;
background-color:white;
font-family: 'Fauna One', serif;
position: relative;
border: 5px solid #FFBA2A;
}

#login{
left: 50%;
top: 50%;
margin-left:-210px;
margin-top:-158px;
}