/*CSS for all the webpages */


/*-----------CSS Clear--------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*--------------Kanji1---------------*/

.kanji1{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}


#kanji11{
    position: absolute;
    top: 25%;
    margin-left: 4%;
}

#kanji12{
    position: absolute;
    top: 50%;
    margin-left: 4%;
}

#kanji13{
    position: absolute;
    top: 75%;
    margin-left: 4%;
}

/*--------kanji2----------------*/
.kanji2{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}

#kanji21{
    position: absolute;
    top: 25%;
    margin-left: 89%;
}

#kanji22{
    position: absolute;
    top: 50%;
    margin-left: 89%;
}

#kanji23{
    position: absolute;
    top: 75%;
    margin-left: 89%;
}


/*-----------taskbar----------------*/
/*need to fix for adjustment to different ratios*/
.taskbar {
    position: absolute;
    width: 76.9%;
    margin-left: 220px;
}

.taskbar nav ul{
    background-color: black;
    text-align: center;
/*    width: 100%;*/
    border-top-style: solid;
    border-top-color: #FFBA2A;
    border-top-width: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #FFBA2A;
}

.taskbar nav li{
    width: 150px;
    list-style: none;
    text-align: center;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.taskbar li a:link{
    color: #FFBA2A;
}

.taskbar li a:visited{
    color: #FFBA2A;
}

#login_trigger{
    text-align: center;
    top: 3%;
    right: 13%;
    position: absolute
}

/*----------------Headers----------*/

h1{
    font-size: 3em;
    text-align: center;
    color: black;
}

h3{
    display: flex;
    align-content: center;
    justify-content: center;
}

.Header{
    padding-top: 80px;
}



/*----------------Body------------*/
.article p{
    text-align: left;
    width: 800px;
    margin: 0 auto;
    line-height: 2;
}

body {
    background-color: #FFF689;
}

.wrapper1 {
    background-color: #CFFFB0;
    margin-left: 220px;
    margin-right: 220px;
}

.wrapper2{
    background-color: #CFFFB0;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 9px;
    height: 900px;
}

/*-----------------footer--------------
/*fix for different ratios*/
footer{
    text-align: center;
/*	position: absolute; */
    margin-left: 220px;
	width: 77%; 
    border-top-color: #FFBA2A; 
    border-top-width: 3px;
    border-top-style: solid;
    
}

footer li{
    display: inline-block;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
/*     padding-right: 15px; */
}

footer li a:link{
    color: #FFBA2A;
}

footer li a:visited{
    color: #FFBA2A;
}

footer nav ul{
    background-color: black;
}


/*------- specific contact/ contact page--------*/
.me{
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.contact {
    padding-bottom: 5px;
}



/*----------buttons ---------*/

#resetbutton {
    position: absolute;
    margin-left: 40%;
    margin-top: 10px;
}

#bracketmaker {
    position: absolute;
    margin-left: 30%;
    margin-top: 10px;
}

#kumitebutton{
    margin-bottom: 5px;
    
    right: 16%;
    position: absolute;
    
}

#katabutton{
   margin-bottom: 5px;
    top: 25%;
    right: 30%;
    position: absolute;
}

/*what is this linked to?*/
#resetbutton{
    margin-top: 10px;
}

.button {
    background: #222;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    border-radius: 5px;
    box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
}

.topbuttons {
 margin-left: 4%;
 margin-top: 6px; 
}

#resetscore {
    position: absolute;
    margin-left: 35%;
    margin-top: 10px;
}

.centerbuttons {
    align-content: center;
    padding-top: 20px;
    margin-left: 36%; 
}

#findwin {
    margin-left: 30px;
}

#checkbox {}

#checklable {}

#addseason{
    margin-left: 45.2%;
    margin-top: 5%;
}




