/*CSS for all the webpages */


/*-----------CSS Clear--------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*--------------index page---------*/

#Sensei{
    width: 30%;
    height: auto;
   /*position: relative;*/
    /*left: 355px;*/
}

#imageholder{
    /*position: relative;*/
    /*left: 355px;   */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*--------------Kanji1---------------*/

.kanji1{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}


#kanji11{
    position: fixed;
    top: 0em;
    margin-left: -1.1em;
}

#kanji12{
    position: fixed;
    top: 2em;
    margin-left: -1.1em;
}

#kanji13{
    position: fixed;
    top: 4em;
    margin-left: -1.1em;
}

/*--------kanji2----------------*/
.kanji2{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}

#kanji21{
    position: fixed;
    top: 0em;
    margin-left: 1030px;
}

#kanji22{
    position: fixed;
    top: 2em;
    margin-left: 1030px;
}

#kanji23{
    position: fixed;
    top: 4em;
    margin-left: 1030px;
}


/*-----------taskbar----------------*/
/*need to fix for adjustment to different ratios*/
/*
.taskbar {

}
*/

.taskbar nav ul{
    background-color: black;
    text-align: center;
    border-top-style: solid;
    border-top-color: #FFBA2A;
    border-top-width: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #FFBA2A;
}

.taskbar nav li{
    width: 150px;
    list-style: none;
    text-align: center;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.taskbar li a:link{
    color: #FFBA2A;
}

.taskbar li a:visited{
    color: #FFBA2A;
}

#login_trigger{
    position: relative;
    left: 58em; 
}

#signout{
   position: relative;
    left: 58em;   
}

/*----------------Headers----------*/

h1{
    font-size: 3em;
    text-align: center;
    color: black;
}

h3{
    display: flex;
    align-content: center;
    justify-content: center;
}

.Header{
    padding-top: 80px;
}



/*----------------Body------------*/
.article p{
    text-align: left;
    padding: 0px 50px 0px 50px;
/*    margin: 0 auto;*/
    line-height: 220%;
    text-indent: 50px;
}

body {
    background-color: #FFF689;
    margin-left: 150px;
	margin-right: 150px;
	max-width: 2000px;
    width: 1024px;
    height: 100%;
}

.wrapper1 {
    background-color: #fffcd6;
    min-height: 100%;

}




/*-----------------footer--------------*/
/*fix for different ratios*/
footer{
/*    position:absolute;*/
/*    bottom: 0;*/
    text-align: center;
    border-top-color: #FFBA2A; 
    border-top-width: 3px;
    border-top-style: solid;
}

footer li{
    display: inline-block;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
/*     padding-right: 15px; */
}

footer li a:link{
    color: #FFBA2A;
}

footer li a:visited{
    color: #FFBA2A;
}

footer nav ul{
    background-color: black;
}




/*------- specific contact/ contact page--------*/
.me{
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.contact {
    padding-bottom: 5px;
}



/*----------buttons ---------*/

#kumitebutton{
    float: right;
    margin-right: 50px;
    
}

/*?*/
#katabutton{
   margin-bottom: 5px;
    top: 25%;
    right: 30%;
    position: absolute;
}

/*kumite reset button*/
#resetbutton{
    margin: 0px 0px 5px 4.5em; 
}

#bracketmaker{
    margin: 3px 0px 5px 4.5em;
}


.button {
    background: #222;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    border-radius: 5px;
    box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
}

.topbuttons {
 margin-left: 4%;
 margin-top: 6px; 
}

.topbuttons input{
    width: 40px;
    text-align: center;
}

#resetscore {
    margin: 5px 0em 1em 35em; 
}

.centerbuttons {
    align-content: center;
    margin-top: 20px;
    margin-left: 36%; 
}

#findwin {
    margin: 5px 0em 1em 35em; 
}


#addseason{
    margin-left: 45.2%;
    margin-top: 2%;
    margin-bottom: 10px;
}

/*------Tutorial List--------*/
.listarea{
    text-align: left;
    padding: 0px 50px 0px 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}

#tutlist{
    list-style: none;
}

.dashed{
    padding: 0px 0px 0px 10em;
    list-style: none;
    line-height: 220%;
    margin-top: 20px;
}

ul.dashed > li {
    text-indent: -5px;
}

ul.dashed > li:before{
    content: "-";
    text-indent: -5px;
}

.pictut1{
    margin-left: -200px;
}

/*----------Season page----------*/
#seasonbuttons{
/*    position: relative;*/
    margin-left: 23em;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
}

#kumitebuttons{
/*    position: relative;*/
    margin-left: -20px;
    margin-top: 30px;
}

/*----------Contact page-------*/

#contactformdiv{
/*    position: relative;*/
/*    left: 23em;*/
    margin-left: 350px;
    margin-bottom: 3em;
}

#contactart{
    margin-bottom: 20px;
    margin-top: 10px;
}

#contactemailus{
    text-decoration: underline;
    margin-bottom: 5px;
}

#contactformdiv input[type=text]{
    margin-left: 4px;
    margin-bottom: 5px;
}

#contactformdiv textarea{
    width: 17.2em;
    height: 4em;
    word-wrap: break-word;
}

/*----------Kumite Fight boxes----------*/
#fightboxarea{
    margin: 5px 0px 0px 10px;
}
#loserbox{
    margin: 5px 0px 0px 10px;
}
#fourthbox{
    margin: 5px 0px 0px 10px;
}

#fourthbox legend{
    font-weight: bold;
}

#loserbox{
    font-weight: bold;
}

#fightboxarea legend{
    font-weight: bold;
}

fieldset {
    padding-top: 4px;;
    width: 200px;
    border: solid;
    background-color: #fff;
}

fieldset input{
    margin-bottom: 5px;
    margin-left: 4px;
    width: 30px;
}

fieldset output{
    margin-left: 4px;
    font-weight: bold;
}

fieldset output::after{
    content: ":";
}

fieldset button{
    margin-left: 5.5em;
}
