@font-face {
    font-family: sevenmonkeys;
    src: url('SEVEMFBR.TTF');
}

@font-face {
    font-family: hkgokukaikk;
    src: url('hkgokukaikk.ttf');
}

h1 {
    font-family: sevenmonkeys;
}

p {
    font-family: 'Open Sans', serif;
}

li {
    font-family: 'Open Sans', serif;
}

h3 {
    font-family: 'Open Sans', serif;
}

h4 {
    font-family: 'Open Sans', serif;
}

h5 {
    font-family: 'Open Sans', serif;
}

li a{
    font-family: 'Open Sans', serif;
}

a {
    font-family: 'Open Sans', serif;
}

button {
    font-family: 'Open Sans', serif;;
}

input {
    font-family: 'Open Sans', serif;
}

label {
    font-family: 'Open Sans', serif;
}

table {
    font-family: 'Open Sans', serif;
}

form {
    font-family: 'Open Sans', serif;
}

textarea {
    font-family: 'Open Sans', serif;
}


.kanji1{
    font-family: hkgokukaikk; 
    font-size: 130px;
}

.kanji2{
    font-family: hkgokukaikk; 
    font-size: 130px;
}

